In [1]:
# Parth "Repo Master" Korat
# Geoff Pawlowski
# Ashutosh Sawant

In [2]:
from scipy.stats import linregress
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
os.getcwd()

'C:\\Users\\parth\\Desktop\\DATA\\ucsd bootcamp\\week 7-8\\bulldogs-project-1'

In [3]:
# Read in life expectancy dataset
life_expectancy_df = pd.read_csv("Resources\lifeExpectancyAtBirth.csv")

# columns in the dataset
life_expectancy_df.columns

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip'], dtype='object')

In [4]:
# Set the Period as the index
life_expectancy_df_period = life_expectancy_df[life_expectancy_df['Dim1'] == 'Both sexes'].set_index('Period')

# Get the number of periods in a given country
life_expectancy_df_year = life_expectancy_df_period['Location'].value_counts()
life_expectancy_df_year

Canada                5
Lebanon               4
Kuwait                4
Cambodia              4
Saint Lucia           4
                     ..
Netherlands           4
Belize                4
Botswana              4
Sudan                 2
Sudan (until 2011)    2
Name: Location, Length: 184, dtype: int64

In [5]:
# Find the number of countries with life expectancy data with more than 4 years
sum(life_expectancy_df_year >= 4)

182

In [6]:
# Remove countries with less than 4 years of life expectancy data
life_expectancy_df_clean = life_expectancy_df_period[life_expectancy_df_period['Location'].isin(
                            life_expectancy_df_year[life_expectancy_df_year >= 4].index)]
life_expectancy_df_clean.head()

,Location,Indicator,Dim1,First Tooltip
Period,,,,
2019,Afghanistan,Life expectancy at birth (years),Both sexes,63.21
2015,Afghanistan,Life expectancy at birth (years),Both sexes,61.65
2010,Afghanistan,Life expectancy at birth (years),Both sexes,59.94
2000,Afghanistan,Life expectancy at birth (years),Both sexes,54.99
2019,Albania,Life expectancy at birth (years),Both sexes,78.00

In [7]:
# total number of countries for each year
life_expectancy_df_clean.index.value_counts()

2000    182
2010    182
2015    182
2019    182
1920      1
Name: Period, dtype: int64

In [8]:
# Remove 1920 period from the data set
life_expectancy_df_clean = life_expectancy_df_clean.drop(1920)
life_expectancy_df_clean.index.value_counts()

2000    182
2010    182
2015    182
2019    182
Name: Period, dtype: int64

In [9]:
# Rename columns and reset the index
life_expectancy_df_clean.columns = ['Entity', 'Indicator', 'Sex', 'Years']
life_expectancy_df_clean = life_expectancy_df_clean.reset_index()

In [10]:
# Get mean life expectancy for each country for the past 9 years.
life_expectancy_df_sort = life_expectancy_df_clean.groupby('Entity').mean()['Years'].sort_values()

### 10 countries with highest life expectancy

In [11]:
life_expectancy_df_sort.tail(10).to_frame()

               Years
Entity
Israel       81.1700
Cyprus       81.2300
Sweden       81.2550
Iceland      81.4625
Singapore    81.5425
Spain        81.5800
Italy        81.6100
Australia    81.7275
Switzerland  81.9925
Japan        82.9200

### 10 countries with lowest life expectancy

In [12]:
life_expectancy_df_sort.head(10).to_frame()

                            Years
Entity
Lesotho                   48.4050
Central African Republic  49.1200
Eswatini                  51.5650
Somalia                   53.2225
Haiti                     53.7475
Zimbabwe                  54.3050
Mozambique                54.5650
Sierra Leone              55.2950
Zambia                    56.0200
Guinea-Bissau             56.0400